---
import Taxon from '../../components/Taxon.astro'
import Layout from '../../layouts/base.astro'
import { getTaxon } from '../../lib/mongo'

const { taxonId } = Astro.params as { taxonId: string }
const [kingdomId, id] = [taxonId[0], taxonId.slice(1)]
const kingdom = {
  P: 'Plantae',
  F: 'Fungi',
  A: 'Animalia'
}[kingdomId as string] as Parameters<typeof getTaxon>[0] | undefined

const taxon = kingdom && (await getTaxon(kingdom, id, true))
---

<Layout
  useTransition
  title={`Taxon: ${
    taxon ? taxon.scientificName : `<não encontrado (${taxonId})>`
  }`}
  metaDescription={taxon?.scientificName
    ? `Flora e Funga do Brasil: ${taxon.scientificName}`
    : null}
  bodyClasses="bg-green-100"
>
  <div class="flex flex-row justify-center items-start">
    {
      taxon ? (
        <Taxon pageId={taxonId} json={taxon} />
      ) : (
        <p>Taxon não encontrado</p>
      )
    }
  </div>
</Layout>
