---
// Não pode prerender usando deno
// export const prerender = true
import Layout from '../layouts/base.astro'
---

<Layout title="Flora">
  <div class="h-screen v-screen flex flex-col items-center justify-center">
    <img class="h-64 w-auto" src="/flora.svg" alt="Logotipo Flora" />
    <div>
      Acesse a <a class="text-green-800 font-bold" href="/taxa"
        >página de pesquisa de taxa</a
      > para buscas
    </div>
  </div>
</Layout>
