---
// Need deno to prerender but astro uses node
// at build time... Perhaps in the future
// export const prerender = true 
import Layout from '../layouts/base.astro'
import { countTaxa } from '../lib/mongo'

const taxaNum = await countTaxa()
---

<Layout title="Flora">
  <h1>Flora JSON</h1>
  <b>Taxa:</b>
  <span>{taxaNum}</span>
</Layout>
