---
interface Props {
  kingdom: 'Animalia' | 'Plantae' | 'Fungi'
  id: string
}
const { kingdom, id } = Astro.props
---

{
  (
    <a
      class="text-green-800 underline hover:text-green-600"
      target="blank"
      href={`${
        kingdom === 'Animalia'
          ? 'http://fauna.jbrj.gov.br/fauna/listaBrasil/FichaPublicaTaxonUC/FichaPublicaTaxonUC.do?id='
          : 'https://floradobrasil.jbrj.gov.br/consulta/ficha.html?idDadosListaBrasil='
      }${id}`}
    >
      <i class="la la-file-alt" /> Ficha na{' '}
      {kingdom === 'Animalia'
        ? 'Catálogo Taxonômico da Fauna do Brasil'
        : 'Flora e Funga do Brasil'}
    </a>
  )
}
